* {
	margin: 0px;
	padding: 0px;
	font-family: poppins, sans-serif;
}
body {
	background-color: lightgrey;
	padding: 0px;
	margin: 0px;
}
.nav-kiri {
	position: fixed;
	width: 17.5%;
	height: 100%;
	background-color: #1c1c83;
	color: white;
	padding: 10px;
}
.nav-kiri p {
	margin: 20px;
	margin-bottom: 50px;
	padding: 20px;
	background-color: #dbdbdb30;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	font-style: italic;
}
.nav-kiri label {
	font-weight: bold;
	font-style: italic;
}
.menu {
	display: flex;
	flex-direction: column;
	margin: 30px 20px;
}
.menu a {
	text-decoration: none;
	color: white;
	width: 100%;
	padding: 15px 10px;
	border-bottom: 1px solid #dbdbdb30;
	background-color: transparent;
}
.menu a:hover {
	background-color: white;
	color: #1c1c83;
	animation: fadeUp 1s ease-out forwards;
	transition: 0.5s ease-out;
	font-weight: bold;
	font-style: italic;
}
.menu a:hover::before {
	content: "";
	margin-right: 20px;
}
.judul {
	margin-left: 18%;
    background-color: white;
    padding: 20px;
}
.judul p {
	font-weight: bold;
	font-size: 2em;
	margin: 0px 20px;
	color: #1c1c83;
}
.atas {
	margin-left: 20%;
	margin-right: 15px;
	padding-top: 20px;
}
.menu-atas {
	display: flex;
	background-color: white;
	padding: 15px;
	border-radius: 10px;
}
.menu-atas a {
	text-decoration: none;
    padding: 20px 10px;
    background-color: white;
    color: blue;
    width: au;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    margin: 0px 10px;
    border: 3px solid blue;
}
.menu-atas a:hover {
	background-color: blue;
	color: white;
	animation: fadeUp 1s ease-out forwards;
	transition: 0.5s ease-out;
}
.absen-siswa {
	margin: 20px 0px;
	background-color: white;
	height: auto;
	width: 100%;
	border-radius: 10px;
}
.cari-data {
	padding: 10px;
}
.cari-data input {
	padding: 15px 10px;
	border: 1px solid lightgrey;
	margin-right: 20px;
}
.cari-data input:focus {
	outline-style: none;
	position: relative;
} 
.cari-data button {
	padding: 15px 10px;
	border: none;
	background-color: green;
	color: white;
	font-weight: bold;
}
.cari-data button:hover {
	background-color: white;
	border: 3px solid green;
	padding: 12px 7px;
	color: green;
}
.cari {
	padding: 30px 10px;
}
.pencari input {
	width: 20%;
	padding: 10px;
	margin: 10px 20px;
	border: 2px solid lightgrey;
}
.pencari input:focus {
	outline-style: none;
}
.pencari button {
	width: 5%;
	text-align: center;
	padding: 10px;
	border: none;
	color: white;
	background-color: blue;
	font-size: 1em;
}
.absen-kemarin {
	padding: 10px;
}
.absen-kemarin table {
	width: 100%;
	border-collapse: collapse;
	padding: 10px;
}
.absen-kemarin table thead th {
	padding: 10px;
	background-color: blue;
	color: white;
}
.absen-kemarin table tbody td {
	padding: 10px;
}