* {
	margin: 0px;
	font-family: poppins, sans-serif;
}
body {
	background: white;
	margin: 0px;
	padding: 0px;
	background-image: url('../img/back.gif');
}
.login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	background: #03a9f4;
	color: white;
	border-radius: 10px;
	padding: 10px;
}
p {
	margin: 20px 0px;
	padding: 10px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	border-bottom: 3px solid white;
}
form {
	height: auto;
	padding: 10px;
	margin: 0px;
	display: flex;
	flex-direction: column;
} 
label {
	font-weight: bold;
	margin: 5px 0px;
}
input {
	padding: 10px;
	margin: 10px 0px;
	border: none;
}
input:focus {
	outline-style: none;
}
.forgot {
	text-align: right;
	padding: 10px 0px;
}
.forgot a {
	color: white;
	text-decoration: none;
}
.but {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}
button {
	font-size: 1em;
	font-weight: bold;
    padding: 10px;
    border: 3px solid white;
    width: 48%;
    background-color: #03a9f4;
    border-radius: 10px;
    color: white;
}
.fot {
	border: none;
	margin: 0px;
	padding: 10px;
	font-size: 1.15em;
}